@use "styles/variables.scss" as *;
@use "styles/mixins.scss" as *;
@use "sass:map";

.switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    $length: map.get($size-au-modules, 4);
    width: $length;
    height: $length;
    border-radius: 50%;
    border: 1px solid $color-primary;

    // background-color: $color-primary;

    & a {
        @include typography(map.get($typography, "localeSwitch"));
    }
}