@use "sass:map";
@use "styles/variables" as *;
@use "styles/mixins" as *;
@use "styles/golden-ratio" as *;

///////REMOVE THIS AFTER INSERTIN ACCESSIBILITY COMPONENT
.accesibilityWidget {
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  z-index: map.get($z-depth, "foreground") + 1;
}

.navbar {
  //fixed workaround
  position: sticky;
  top: 0;
  height: 100vh;
  grid-area: navbar;
  z-index: map.get($z-depth, "foreground");

}

.navContainer {
  position: relative;
  right: 0;
  top: goldSize(100vh, 6);
  height: goldSize(100vh, 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  padding-right: map.get($size-au-modules, 2);

  text-transform: uppercase;
  text-align: right;

  // background-color: rgb(220, 255, 255);
}

.logotype {
  width: 50%;
}

.activeLink {
  color: $color-primary;
}
// .navMenu {
//   grid-column: 2 / 3;
//   display: none;
// }

// .hamburger {
//   width: 100px;
//   height: 100px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;

//   & > span {
//     width: 100%;
//     height: 25%;
//     background-color: black;
//   }
// }