@use "sass:map";
@use "styles/variables" as *;
@use "styles/mixins" as *;

.dropFileInput {
  width: 300px;
  height: 300px;
}

.dragover {
  outline: 2px solid $color-secondary;
  outline-style: dotted;
}

.fileInput {
  visibility: hidden;
}