@use "sass:map";
@use "./mixins.scss" as *;
@use "./resets.scss" as *;
@use "./variables" as *;
// RESETS

html {
  font-size: $base-rem;
}

body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $color-dark;
}

//// GLOBAL FONTS ////
h1 {
  @include typography(map.get($global-typography, "h1"));
  // margin-bottom: map.get($sizing, 3);
}



li {
  @include typography(map.get($global-typography, "li"));
}

.sectionHeadline {
  @include typography(map.get($typography, "sectionHeadline"));
}