@use 'sass:map';
@use 'styles/golden-ratio' as *;
@use 'styles/variables' as *;

@mixin breakpoint($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin typography($size-index, $weight-index) {
  $size-base: map.get($size-au-modules, $size-index);
  font-size: $size-base;
  line-height: $size-base * 1.6;
  letter-spacing: $size-base * -0.02;
  font-weight: map.get($font-weights, $weight-index);
}