@use "sass:map";
@use "./variables.scss" as *;
///////////////////////////
.intentionalyHigh {
  height: 6000px;
}
///////////////////////////
.pageWrapper {
  background-color: #dddddd;
}


.projectContainer {
  background-color: aqua;
}