@use "sass:map";
@use "./variables.scss" as *;
///////////////////////////
.intentionalyHigh {
  height: 6000px;
}
///////////////////////////
.pageWrapper {
  position: relative;
  top: $page-top-offset;
  padding: 0 map.get($sizing, 2);
}