@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "styles/golden-ratio" as *;

// ---- COLORS ----
$color-primary: #1bd367;
$color-secondary: #ff9b17;
$color-tetriary: #2b71ed;
$color-danger: #f12552;
$color-white: #ffffff;
$color-light-gray: #f6f6f6;
$color-dark-gray: #aaaaaa;
$color-dark: #0F1031;

$size-list: (
  "xs",
  "sm",
  "md",
  "lg",
  "xl",
  "xxl"
);

// ---- BREAKPOINTS ----
$breakpoints: (
  "xs": "0px",
  "sm": "320px",
  "md": "701px",
  "lg": "1201px",
  "xl": "1441px",
  "xxl": "1801px",
);

// ------ GRIDS ------
$global-column-ratios: (
  "xs": (4, 0, 4),
  "sm": (4, 0, 4),
  "md": (2, 0, 5),
  "lg": (1, 0, 0, 4),
  "xl": (2, 0, 0, 4),
  "xxl": (2, 0, 0, 5),
);

$with-top-nav: "navbar navbar navbar" "l-margin main r-margin";
$single-track: "navbar main r-margin";
$double-track: "navbar main main r-margin";
// CONSIDER ROWS
// CONSIDER MAIN

$global-grid-areas: (
  "xs": $with-top-nav,
  "sm": $with-top-nav,
  "md": $single-track,
  "lg": $double-track,
  "xl": $double-track,
  "xxl": $double-track,
);

// ----- SIZING -----
$base-rem: 16px;

$sizing: (
  0: 0.25rem,
  1: 0.5rem,
  2: 0.75rem,
  3: 1.25rem,
  4: 2rem,
  5: 3.25rem,
  6: 5.25rem,
  7: 8.5rem,
  8: 13.75rem,
  9: 22.25rem,
);

$page-top-offset: goldSize(100vh, 6);

// ----Z-DEPTH----
$z-depth: (
  "background": -10,
  "base": 0,
  "foreground": 10,
  "pop-up": 20,
);

// ------ TYPOGRAPHY ------
$font-weights: (
  "thin": 300,
  "regular": 500,
  "bold": 800
);

$global-typography: (
  "h1": (5, "bold"),
  "h2": (4, "bold"),
  "li": (2, "bold"),
);

$typography: (
  "titleLink": (5, "bold"),
  "caption": (3, "regular"),
  "sectionHeadline": (3, "regular"),
  "localeSwitch": (2, "thin"),
  "button": (2, "bold")
);